<div class="aa-footer-signature">
    {{#if @site.title}}
        <span class="aa-footer-name">{{@site.title}}</span>
    {{/if}}
    {{#if @site.description}}
        <span class="aa-footer-role">{{@site.description}}</span>
    {{/if}}
    {{#if @custom.brand_footer_linkedin_url}}
        <a class="aa-footer-button" href="{{@custom.brand_footer_linkedin_url}}" target="_blank" rel="noopener noreferrer">
            LinkedIn
        </a>
    {{/if}}
    {{#if @custom.brand_footer_github_url}}
        <a class="aa-footer-button" href="{{@custom.brand_footer_github_url}}" target="_blank" rel="noopener noreferrer">
            GitHub
        </a>
    {{/if}}
</div>
