<div class="aa-footer-signature">
    <span class="aa-footer-name">{{#if @custom.brand_footer_name}}{{@custom.brand_footer_name}}{{else}}Adriano Amalfi{{/if}}</span>
    <span class="aa-footer-role">{{#if @custom.brand_footer_role}}{{@custom.brand_footer_role}}{{else}}Strategia ICT · Trasformazione digitale{{/if}}</span>
    <span class="aa-footer-claim">Osservatorio editoriale su tecnologia, innovazione e sistemi.</span>
</div>
